@import '~material-ui/src/less/scaffolding.less';
@import '~material-ui/src/less/components.less';

.mui-toolbar {
  background-color: #4E4A48;
}

.h1-style {
  margin-left: 10px;
}

.searchBox {
  margin-top: 25px;
  margin-right: 10px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
}

li {
  margin: 3px 10px 3px 10px;
}
li p {
  margin-left: 5px;
}

/*
li .mui-paper {
  background-color: #9D9694;
}
*/
